<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to wear?</title>
    <link rel="stylesheet" href="/static/weather.css">
</head>
<body>

<div class="weather-container">
    <h1>What to wear today in <span id="city-name"></span></h1>
    <div class="details">
        <p>Average temperature: <span id="temperature"></span>°C</p>
        <p>Average feels like<span id="feels-like"></span>°C</p>
        <h2>What to wear?</h2> <span id="recommendation"></span>
        <p>Average humidity: <span id="humidity"></span>%</p>
        <p>Average wind speed: <span id="wind-speed"></span> м/с</p>
        <p>Will be <span id="weather"></span>%</p>

    </div>
</div>

<script src="/static/clothes.js"></script>
</body>
</html>
