<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что надеть?</title>
    <link rel="stylesheet" href="/static/weather.css">
</head>
<body>

<div class="weather-container">
    <h1>Погода в городе на сегодня <span id="city-name"></span></h1>
    <div class="details">
        <p>Средняя температура: <span id="temperature"></span>°C</p>
        <p>Средне ощущается как: <span id="feels-like"></span>°C</p>
        <h2>Что стоит надеть?</h2> <span id="recommendation"></span>
        <p>Средняя влажность: <span id="humidity"></span>%</p>
        <p>Средняя скорость ветра: <span id="wind-speed"></span> м/с</p>
        <p>Ожидается <span id="weather"></span>%</p>

    </div>
</div>

<script src="/static/clothes.js"></script>
</body>
</html>
