<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
    <link rel="stylesheet" href="/static/weather.css">
</head>
<body>

<div class="weather-container">
    <h1>Погода в городе <span id="city-name"></span></h1>
    <div class="details">
        <p>Температура: <span id="temperature"></span>°C</p>
        <p>Ощущается как: <span id="feels-like"></span>°C</p>
        <p>Описание: <span id="description"></span></p>
        <p>Влажность: <span id="humidity"></span>%</p>
        <p>Скорость ветра: <span id="wind-speed"></span> м/с</p>
        <p>Давление: <span id="pressure"></span> hPa</p>
        <p>Облачность: <span id="clouds"></span>%</p>
        <p>Время: <span id="time"></span></p>
    </div>
</div>

<script src="/static/weather.js"></script>
</body>
</html>
