<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/weather.css">
</head>
<body>

<div class="weather-container">
    <h1>Weather in city <span id="city-name"></span></h1>
    <div class="details">
        <p>Temperature: <span id="temperature"></span>°C</p>
        <p>Feels like: <span id="feels-like"></span>°C</p>
        <p>Description: <span id="description"></span></p>
        <p>Humidity: <span id="humidity"></span>%</p>
        <p>Wind speed: <span id="wind-speed"></span> m/s</p>
        <p>Pressure: <span id="pressure"></span> hPa</p>
        <p>Clouds: <span id="clouds"></span>%</p>
        <p>Time: <span id="time"></span></p>
    </div>
</div>

<script src="/static/weather.js"></script>
</body>
</html>
